/* Variables
------------------------------------------------------------------
{
  Color: [
    {
      value: 'blue',
      sample: '#80afc7',
      NormalColor: '#80afc7',
      HoverColor: '#497d97',
      NavActive: '#2b83b0',
      NavSubMenu: '#4686a7',
      PhoneText: '#185b7e'
    },
    {
      value: 'aqua',
      sample: '#11a299',
      NormalColor: '#11a299',
      HoverColor: '#01645e',
      NavActive: '#19726d',
      NavSubMenu: '#0e7771',
      PhoneText: '#135a56'
    },
    {
      value: 'green',
      sample: '#789965',
      NormalColor: '#789965',
      HoverColor: '#486538',
      NavActive: '#4e7737',
      NavSubMenu: '#577944',
      PhoneText: '#295312'
    },
    {
      value: 'orange',
      sample: '#ed9a40',
      NormalColor: '#ed9a40',
      HoverColor: '#bc6200',
      NavActive: '#e07808',
      NavSubMenu: '#d68227',
      PhoneText: '#a15a0d',
	  FooterLink: '#666666'
    },
    {
      value: 'pink',
      sample: '#e36d9f',
      NormalColor: '#e36d9f',
      HoverColor: '#ce1765',
      NavActive: '#e13981',
      NavSubMenu: '#ce1765',
      PhoneText: '#8b2850'
    },
    {
      value: 'purple',
      sample: '#a472a3',
      NormalColor: '#a472a3',
      HoverColor: '#763775',
      NavActive: '#813880',
      NavSubMenu: '#844883',
      PhoneText: '#562655'
    },
    {
      value: 'red',
      sample: '#b35050',
      NormalColor: '#b35050',
      HoverColor: '#780404',
      NavActive: '#8f2626',
      NavSubMenu: '#7d2626',
      PhoneText: '#5e1717'
    }
  ]
}
------------------------------------------------------------------
*/


/* Resets
--------------------------------------------------------------------------------*/

ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote, fieldset, input {
	margin: 0;
	padding: 0;
}

a img {
	border: 0;
}

a {
	color: $NormalColor;
	text-decoration: none;
}

a:hover {
	color: $HoverColor;
}

/* General Styling and Structure
--------------------------------------------------------------------------------*/

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #777777;
	background: #303030;
	margin: 0;
	padding: 17px 0 50px;
}

h2 {
	font-size: 1.7em;
	margin: 0;
	padding: .3em 0;
	line-height: 1.5;
	font-family: "Cabin Condensed", Arial, Helvetica, sans-serif;
	font-weight: 600;
}

#content h2 {
	color: #464646;
}

p {
	font-size: 1em;
	line-height: 1.5;
	margin: 0;
	padding: .5em 0;
}
blockquote {
	font-style:italic;
	border-left:4px solid $normalColor;
	margin:10px 0 10px 0;
	padding-left:20px;
	line-height:1.5;
	color:#999;
}
#content p {
	color: #777777;
}

#content abbr {
	border-bottom: 1px dotted #8f8f8f;
}

#container {
	margin: 0 auto;
	width: 980px;
}

#top-section {
	background: url(shadow-top.png) no-repeat;
	padding-top: 18px;
}

#inner-section {
	background: url(shadow2.png) repeat-y;
	padding: 0 15px;
}

#header-top {
	padding: 0 35px;
	background: $NormalColor;
	border-top: 6px solid #151515;
	margin: 0;
	overflow: hidden;
}

#logo,
#logo a {
	font-size: 30px;
	color: #fff;
	font-weight: normal;
	padding: 0;
	float: left;
	font-family: "Cutive", Arial, Helvetica, sans-serif;
	-webkit-text-stroke-width: 0.3px;
}

#header-right a {
	color: #bae1f5;
}

#header-right a:hover {
	color: #fff;
}

/* Header Area
----------------------------------------------------------------------------*/

#header {
	width: 100%;
	height: 80px;
}

#header,
#header table {
	border-collapse: collapse;
	border-spacing: 0;
}

#header td {
	vertical-align: middle;
	text-align: left;
}

#logo {
	padding: 20px 0;
}

#header-right {
	padding: 5px 0 0 10px;
}

#header-right table {
	float: right;
	width: 1px;
}

#header-right td {
	padding: 0;
}

/* TOP RIGHT: Phone Number
--------------------------------------------------------------------------------*/

#header-right .phone-number .wsite-text {
	color: $PhoneText;
	font-size: 17px;
	font-weight: normal;
	font-family: "Cabin Condensed", Arial, Helvetica, sans-serif;
	text-decoration: none;
	display: block;
	white-space: nowrap;
	margin: 0 0 0 15px;
}

/* TOP RIGHT: Social Links
--------------------------------------------------------------------------------*/

#header-right .wsite-social {
	vertical-align: middle;
	margin: 0 0 0 18px;
}


.wsite-social-item {
	width: 23px;
	height: 23px;
	margin: 0 0 0 3px;
	background-image:url(social-$color.png);
}

.wsite-social-facebook {background-position:0 0;}
	.wsite-social-facebook:hover {background-position:0 -23px;}
	.wsite-social-facebook:active {background-position:0 -46px;}
.wsite-social-pinterest {background-position:-23px 0;}
	.wsite-social-pinterest:hover {background-position:-23px -23px;}
	.wsite-social-pinterest:active {background-position:-23px -46px;}
.wsite-social-twitter {background-position:-46px 0;}
	.wsite-social-twitter:hover {background-position:-46px -23px;}
	.wsite-social-twitter:active {background-position:-46px -46px;}
.wsite-social-linkedin {background-position:-69px 0;}
	.wsite-social-linkedin:hover {background-position:-69px -23px;}
	.wsite-social-linkedin:active {background-position:-69px -46px;}
.wsite-social-mail {background-position:-92px 0;}
	.wsite-social-mail:hover {background-position:-92px -23px;}
	.wsite-social-mail:active {background-position:-92px -46px;}
.wsite-social-rss {background-position:-115px 0;}
	.wsite-social-rss:hover {background-position:-115px -23px;}
	.wsite-social-rss:active {background-position:-115px -46px;}
.wsite-social-flickr {background-position:-138px 0;}
	.wsite-social-flickr:hover {background-position:-138px -23px;}
	.wsite-social-flickr:active {background-position:-138px -46px;}
.wsite-social-plus {background-position:-161px 0;}
	.wsite-social-plus:hover {background-position:-161px -23px;}
	.wsite-social-plus:active {background-position:-161px -46px;}
.wsite-social-vimeo {background-position:-184px 0;}
	.wsite-social-vimeo:hover {background-position:-184px -23px;}
	.wsite-social-vimeo:active {background-position:-184px -46px;}
.wsite-social-yahoo {background-position:-207px 0;}
	.wsite-social-yahoo:hover {background-position:-207px -23px;}
	.wsite-social-yahoo:active {background-position:-207px -46px;}
.wsite-social-youtube {background-position:-230px 0;}
	.wsite-social-youtube:hover {background-position:-230px -23px;}
	.wsite-social-youtube:active {background-position:-230px -46px;}

/* TOP RIGHT: Search Box
--------------------------------------------------------------------------------*/

#header-right .search {
}

#header-right .wsite-search {
	margin: 0 0 0 18px;
	vertical-align: middle;
}

#header-right .wsite-search-input {
	width: 119px;
	height: 14px;
	border: none;
	padding: 10px 5px 8px 10px !important;
	font-family: Arial, Helvetica, sans-serif;
	color: #848484;
	font-size: 14px;
	background: url(input-bg-$color.png) no-repeat;
}

#header-right .wsite-search-button {
	position: relative;
	width: 35px;
	height: 32px;
	color: #010101;
	font-size: 12px;
	border: none;
	margin: 0;
	padding: 0;
	background: url(submit-bg-$color.png) no-repeat;
}

/* Navigation
--------------------------------------------------------------------------------*/

#topnav {
	clear: both;
	margin: 0;
}

#topnav ul {
	list-style: none;
	float: right;
}

#topnav ul li {
	list-style: none;
	float: left;
	margin: 0 2px 0 0;
}

#topnav a {
	float: left;
	display: block;
	color: #fff;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	padding: 16px;
	border: 0;
	outline: 0;
	list-style-type: none;
	font-size: 1em;
	text-transform: uppercase;
	font-weight: bold;
}

#topnav li#active a,
#topnav a:hover {
	color: #fff;
	background: $NavActive;
	border: 0;
}

/****************************** flyout menus ******************************/

#wsite-menus .wsite-menu li {
	padding: 3px 10px;
	background: $NavActive;
}

#wsite-menus .wsite-menu li a {
	padding: 3px 10px;
	color: #fff;
	background: $NavActive;
	border: 0;
}

#topnav li li a:hover,
#weebly-menus .weebly-menu li a:hover,
#wsite-menus .wsite-menu li a:hover {
	color: $NavSubMenu;
	background: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

/* main  */

#main {
}

#content {
	min-height: 400px;
	padding: 35px;
}

#banner {
	position: relative;
	background: url(banner-bot.jpg) left bottom no-repeat;
	padding-bottom: 24px;
}

/* PAGE TYPE: banner-tall
--------------------------------------------------------------------------------*/

.tall-header-page .wsite-header {
	width: 950px;
	height: 316px;
	background: url(banner-tall.jpg) no-repeat;
}

/* PAGE TYPE: banner-short
--------------------------------------------------------------------------------*/

.short-header-page .wsite-header {
	width: 950px;
	height: 133px;
	background: url(banner-short.jpg) no-repeat;
}

.no-header-page #content {
	padding-top: 15px;
}

/* PAGE TYPE: banner-landing
--------------------------------------------------------------------------------*/

.landing-page #banner {
}

.landing-page #banner-detail {
	background: #fbfbfc url(landing-banner-bg.png) repeat-x;
}

#bannerleft {
	float: right;
	padding: 0;
	position: relative;
}

.landing-page .wsite-header {
	width: 466px;
	height: 316px;
	background: url(banner-landing.jpg) no-repeat;
}

.landing-banner-outer {
	display: table;
	#position: relative;
	overflow: hidden;
}

.landing-banner-mid {
	#position: absolute;
	#top: 50%;
	display: table-cell;
	vertical-align: middle;
}

.landing-banner-inner {
	#position: relative;
	#top: -50%;
}

#bannerright {
	float: left;
	width: 410px;
	height: 316px;
	padding: 0 20px 0 35px;
}

#bannerright h2 {
	color: #464646;
	font-size: 44px;
	font-family: "Anton", Arial, Helvetica, sans-serif;
	padding: 0px;
	line-height: 44px;
	text-transform: uppercase;
	text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.15);
}

#bannerright p {
	color: #777777;
	font-size: 1.1em;
	padding: 20px 0px;
	line-height: 140%;
}

#bannerright .wsite-button {
}

/* PAGE TYPE: splash
--------------------------------------------------------------------------------*/

.splash-page #header {
	width: 532px;
}

.splash-page #banner {
	width: 527px;
	height: 161px;
	padding: 6px 4px 4px 6px;
	background: url(banner-splash-bg.png) no-repeat;
}

.splash-page .wsite-header {
	width: 515px;
	height: 149px;
	background: url(banner-splash.jpg) no-repeat;
}

.splash-page #content-container {
	width: 528px;
}

.splash-page #content {
	width: 528px;
}

.splash-page #footer {
	width: 524px;
}

/* Footer
--------------------------------------------------------------------------------*/

#footer {
	background: #151515;
	padding: 44px;
	font-size: 12px;
	color: #9f9f9f;
	text-align: right;
	font-family: Arial, Helvetica, sans-serif;
}

#footer h2 {font-size:1.5em; color:#ccc; border-bottom:1px solid #666; margin-bottom:2px;}
#footer p {
	color: #9f9f9f;
}

#footer .paragraph ul{
	margin:0px !important;
	padding:0px !important;
}

#footer .paragraph li{
	list-style:none !important;
	margin:0px !important;	
}

#footer span {
	vertical-align: middle;
}

.wsite-footer {  /* make sure enough space between element footer and attribution */
	margin-bottom: 15px;
}
#footer blockquote {
	border-left:4px solid #333;
	color:#666;
}
/* Form Customization
--------------------------------------------------------------------------------*/

.wsite-form-label {
	display: inline-block;
	color: #848484;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.1em;
	padding: 12px 0 5px 0;
}

.form-radio-container {
	color: #777777;
	font-size: 1em;
	font-family: Arial, Helvetica, sans-serif;
}

.wsite-form-input, .wsite-search-element-input {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: #777777;
	background: #fff url(field.png) repeat-x;
	border: 1px solid #d3d3d3;
	padding: 8px 4px 5px !important;
	line-height: 1;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.form-select {
	color: #777;
	background: url#fff (field.png);
	border: 1px solid #d3d3d3;
	font-size: 1em;
	font-family: Arial, Helvetica, sans-serif;
	padding: 3px 4px;
	width: 320px;
	height: 27px;
	line-height: 27px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}


/* Footer Form Customization
--------------------------------------------------------------------------------*/

.wsite-form-container {
	margin-top:0px !important;
	text-align:left;
}

.wsite-footer .wsite-form-label {
	font-size: 1em;
	padding: 5px 0 2px 0;
}

.wsite-footer .wsite-form-field {
	width:300px !important;
}

.wsite-footer .form-radio-container {
	font-size:1em;
}

.wsite-footer .wsite-form-input {
	font-size: 1em;
	width: 100% !important;

}

.wsite-footer .form-select {
	width: 100%;
}

/* Buttons
--------------------------------------------------------------------------------*/

/*
  Buttons are styled with background image sprites. There are 4 unique image files:
   - small & normal-colored  (button_small_grey.png)
   - large & normal-colored  (button_large_grey.png)
   - small & highlight-colored  (button_small_orange.png)
   - large & highlight-colored  (button_large_orange.png)

  Each of these 4 types of buttons must define a :hover state (when user's mouse is over)
  as well as an :active state (when the user presses down).

  Look at the CSS (especially the inner .wsite-button-inner wrapper), as well as the
  image files to understand how the liquid-width nature of these buttons work.
 */

/* small */

.wsite-button {
	color: #fff !important;
	height: 34px;
	font-size: 14px;
	border: none;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	padding: 0 41px 0 0;
	background: url(button-$Color.png) no-repeat 100% -105px;
}

.wsite-button:hover {
	background-position: 100% -140px;
}

.wsite-button:active {
	background-position: 100% -175px;
}

.wsite-button-inner {
	height: 34px;
	line-height: 34px;
	display: block;
	font-size: 14px;
	font-weight: bold;
	border: none;
	text-decoration: none;
	padding: 0 0px 0 32px;
	background: url(button-$Color.png) no-repeat 0 0;
}

.wsite-button:hover .wsite-button-inner {
	background-position: 0 -35px;
}

.wsite-button:active .wsite-button-inner {
	background-position: 0 -70px;
}

/* large */

.wsite-button-large {
	height: 41px;
	background: url(button-large-$Color.png) no-repeat 100% -126px;
	padding: 0 48px 0 0;
}

.wsite-button-large:hover {
	background-position: 100% -168px;
}

.wsite-button-large:active {
	background-position: 100% -210px;
}

.wsite-button-large .wsite-button-inner {
	height: 41px;
	line-height: 41px;
	padding: 0 0px 0 32px;
	background: url(button-large-$Color.png) no-repeat 0 0;
}

.wsite-button-large:hover .wsite-button-inner {
	background-position: 0 -42px;
}

.wsite-button-large:active .wsite-button-inner {
	background-position: 0 -84px;
}

/* highlight */

/*
Making the highlighted versions of the buttons is easy because we just need
to switch out the background images. This works because the different button
states (normal, :hover, :active) have their sprite coordinates in the same places.
*/

.wsite-button-large.wsite-button-highlight {
	background-image: url(button-highlight-large-$Color.png);
}

.wsite-button-large.wsite-button-highlight .wsite-button-inner {
	background-image: url(button-highlight-large-$Color.png);
	color:#333 !important;
}

.wsite-button-highlight {
	background-image: url(button-highlight-$Color.png);
}

.wsite-button-highlight .wsite-button-inner {
	background-image: url(button-highlight-$Color.png);
	color:#333 !important;
}
