<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Password Reset Done</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
    <center><h1>Please check your mail to reset password</h1></center>
    
     <br><br><br>
    <center><h4>Please click <a href="http://localhost/PP/backend/web/index.php?r=site%2Flogin">here</a> to go continue.</h4></center>
    </body>
</html>
